#home-section {
  background: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }

.subscribe:hover {
  background: #800080;
  color: #ffffff;
  border: 1px solid #800080; }

.home-inner {
  padding-top: 150px; }

@media (max-width: 768px) {
  .mb-resp {
    margin-bottom: 1rem; } }
.fas {
  background: #800080;
  color: #fff;
  padding: 5px;
  border-radius: 5px; }

#author {
  max-width: 80%; }
