$primary: #feb30e;
$secondary: #800080;


@media (max-width: 768px) {
  .mb-resp {
    margin-bottom: 1rem;
  }
}

// i .fas {
//   background: #800080;
//   color: #fff;
//   padding: 5px;
//   border-radius: 5px;
// }

// #author {
//   max-width: 300px;
// }